
body {
    font-weight: 200;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 4;
    box-sizing: border-box;
}
.yellow{
    display: flex;
    background-color:#ffcc00 ;
    width: auto;
    margin: 0vw #ffcc00; 
    justify-content: space-between; 
}
.item-a{
    border: 1vw solid transparent;
    width: 14.5vw;
    display: flex;
    padding: 0vw;

}
.item-c-b{
    font-size: large;
    display: flex;
    border: 0px solid transparent;
    align-self: flex-start;

}

.item-c{
    display:flex;
    border: 0px solid transparent;
    flex-direction: column;
    justify-content: space-between ;
}

.calendario{
    display: flex;
    background-color: transparent;
    width: 92vw;
    justify-content: space-between;  
}

.foto1{
    font-size: 50px;
}

.foto2{
    font-size: 48px;
    overflow: auto;
}

.giornicalendario{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: transparent;
    padding: 10px;
}
.vuoto{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;

}
.giorni-interno-1{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.giorni-interno-2{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.giorni-interno-3{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.giorni-interno-4{  
  
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.giorni-interno-5{
   
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.giorni-interno-6{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.giorni-interno-7{
    
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.immagine3{
    background-color: blueviolet;
}

.footerclass{
    display: flex;
    border: 0px solid green;
    flex-direction: row;
    justify-content: center;

}
.immagine4{
    display: flex;
    width: 50%;
    height: 40vw;
    background-color: purple;
    border: 0px solid ;
    justify-self: center;
}
.immagine5{
    display: flex;
    width: 50%;
    height: 40vw;
    background-color: red;
    border: 0px solid ;
    justify-content: center;
}
.posizione{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightskyblue;
    padding: 10px;
    font-size: 30px;


}

@media only screen and (max-width: 1100px){
    .body{
        width: auto;
        height: auto;
        grid-template-columns:auto;
        flex: auto;

   
    }

}


